.login {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 400px;
}

.login input, button {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 98%;
    height: 30px;
}

.login button {
    width: 50%;
    margin: 5px 0;
}

.login .row {
    margin: 5px 0;
}
.login .row .col-2 {
    width: 28%;
    float: left;
    text-align: left;
    padding: 5px;
}
.login .row .col-10 {
    width: 68%;
    float: right;
}

.login .row .col-12 {
    width: 99%;
    text-align: right;
}